main {
  min-height: 320px;
  margin-top: 50px;
}
main h2 {
  margin-bottom: 20px;
}
header.jumbotron {
  background: url('./img/desarrollo-web.jpg');
}
header h1 {
  background-color: rgba(255, 255, 255, 0.7);
}
pre {
  background-color: gainsboro;
}
footer {
  margin-top: 50px;
}
