header {
  /*Por defecto cargo la imagen grande*/
  background: url('./img/desarrollo-web.jpg');
  margin: 0;
}
nav {
  padding-top: 0;
  margin: 0;
}
.titulo {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.3rem;
  padding-right: 10px;
  padding-left: 10px;
}

main {
  min-height: 320px;
  margin-top: 30px;
}
main h2 {
  margin-bottom: 20px;
}

pre {
  background-color: gainsboro;
}
footer {
  margin-top: 20px;
  border-top: 1px solid gray;
  padding: 20px;
  background-color: #71a7d2;
  border-radius: 0.3rem;
}

#clipped {
  width: 80%;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.img-thumbnail {
  width: 40px;
}
.jumbotron {
  padding: 10px;
  margin-bottom: 1rem;
}

/*Animación de enlaces de menú lateral*/
aside nav ul li a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
aside nav ul a:hover,
aside nav ul a:focus {
  background-size: 100% 2px;
}

/*Efecto zoom en imágenes*/
zoom {
  width: 128;
  overflow: hidden;
}
.zoom:hover {
  transform: scale(1.5);
}
/*Animación del logo en index.html*/
.logo {
  animation: logo ease-in-out 2s;
  width: 80%;
}
@keyframes logo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.6;
  }
  99% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.logo-secundario {
  width: 64px;
  margin-left: 10px;
}

.captura-codigo {
  border: 1px solid gray;
}

/*media queries*/
/*@media (min-width: 577px) {
  /*Para pantallas más grandes cargo la imagen mayor
  header {
    background: url('./img/desarrollo-web378.jpg');
  }
}*/
@media (max-width: 576px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  header h1 {
    font-size: 1.5em;
  }
  header {
    /*cargo la imagen intermedia*/
    background: url('./img/desarrollo-web540.jpg');
  }
}
@media (max-width: 340px) {
  header h1 {
    font-size: 1.2em;
  }
  header p {
    font-size: 0.7em;
  }
  header {
    background: url('./img/desarrollo-web378.jpg');
  }
}
